.home-nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
}

.nav-logo {
  float: left;
  position: absolute;
  left: 0;
}

.nav-logo img {
  height: 60px;
}

.home-nav a {
  text-decoration: none;
  border: 2px solid #eee;
  border-radius: 20px;
  flex-basis: 10%;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  color: #2a4368;
  font-weight: bold;
  transition-duration: 400ms;
}

.home-nav a:hover {
  color: #ccc;
  background-color: #2A4368;
  transition-duration: 400ms;
}

.home-about {
  display: flex;
  flex-wrap: wrap;
}

.home-logo {
  text-align: center;
  margin-bottom: 5px;
}

.home-logo img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.home-about div {
  flex-basis: 30.333%;
  margin: 0 1.5% 20px;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 50px;
}

.home-about h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.home-about p {
  line-height: 1.5em;
  letter-spacing: .5px;
  font-size: 1.1em;
}

.fa {
  font-size: 6em;
  margin-bottom: 20px;
  color: #2A4368;
}

.container {
  background: linear-gradient(to right, rgba(210,255,82,.6) 0%,rgba(145,232,66,.7) 100%);
  min-height: 100vh;
  padding-top: 100px;
}

.login-box {
  background-color: #2A4368;
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 5px 5px 10px #333;
}

.login-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.page-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wrapper {
  display: flex;
  text-align: center;
}

.left-side {
  height: 80vh;
  flex-basis: 30%;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow: scroll;
  padding: 20px;
}

.center-side {
  height: 80vh;
  flex-basis: 40%;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow: scroll;
  padding: 20px;
}

.right-side {
  height: 80vh;
  flex-basis: 30%;
  overflow: scroll;
  padding:  20px;
}
